{% load static %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        {% block head %}
        <title>Fox</title>
        {% endblock %}
    </head>
    <body>

        <ul>
            <li class="logo"><a href="/" class="logo">Fox</a></li>
            <li class="navbar"><a>Home</a></li>
            <li class="navbar"><a>Contact</a></li>
            <li class="navbar"><a>About</a></li>
            {% if user.is_authenticated %}
                <a href="/accounts/logout/" class="logout">Log out</a>
                <a class="login">{{ user.username }}</a>
            {% else %}
                <a href="/accounts/login/" class="login">Log in</a>
                <a href="/accounts/register/" class="login">Sign up</a>
            {% endif %}
        </ul>
        {% block content %}
        <p>
            Lorem Ipsum - это текст-"рыба", часто используемый 
            в печати и вэб-дизайне. Lorem Ipsum является стандартной 
            "рыбой" для текстов на латинице с начала XVI века. 
            В то время некий безымянный печатник создал большую 
            коллекцию размеров и форм шрифтов, используя Lorem Ipsum 
            ля распечатки образцов. Lorem Ipsum не только успешно пережил 
            без заметных изменений пять веков, но и перешагнул в электронный дизайн. 
            Его популяризации в новое время послужили публикация листов Letraset с образцами 
            Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки 
            типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
        </p>
        <p>
            Давно выяснено, что при оценке дизайна и композиции читаемый текст 
            мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает 
            более или менее стандартное заполнение шаблона, а также реальное распределение 
            букв и пробелов в абзацах, которое не получается при простой дубликации 
            "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы 
            электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по 
            умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как 
            много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие 
            годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, 
            некоторые - намеренно (например, юмористические варианты).
        </p>
        {% endblock %}
    </body>
</html>